*{  padding: 0 ; margin: 0;border: 0;}
#libary{
  position: fixed;
  top: 50px;
  left: 0;
  bottom:0;
}
#option{
  position: fixed;
  top: 50px;
  right: 0;
  bottom:0;
}
#menu{
  position: fixed;
  top: 0;
  margin: 5px 10px;
  left: 0;
  right: 0;
}
canvas {

  position: fixed;
  top: 50px;
  left:250px;

}

.bottom-menu{
  position: absolute;
  z-index: 9;
  height:30px;
  width: 100%;
  bottom:0;
  left:0;
  background: #fafbfc;
  padding: 0 20px;
}
.bottom-menu .ui.checkbox{
  margin-right: 10px;
}

.rulerNum{
  position: absolute;
  text-align: center;
}
.rulerNum span{
  display: inline-block;
  font-size: 13px;
  text-shadow: 1px 1px 0 #ffffff,-1px 1px 0 #ffffff,1px -1px 0 #ffffff,-1px -1px 0 #ffffff;
}
.rulerNum input{
  display: none;
  /*text-align: center;*/
}
.rulerNum:hover input{
  display: inline-block;
  width: 100px;
  border: 1px solid #171e25;
}
.rulerNum:hover span{
  display: none;
}
#ruler_SX,#ruler_SY,#ruler_SZ{
  color: #dc1010;
}
#ruler_PX,#ruler_PY,#ruler_PZ{
  color: #71e321;
}

#scene_menu{
  position: absolute;
}